<footer class="footer">
    <nav>
        <ul class="link_page">
            <li><a href="" class="link_page_item"></a>Article</li>
            <li><a href="" class="link_page_item"></a>Books</li>
            <li><a href="" class="link_page_item"></a>Events</li>
            <li><a href="" class="link_page_item"></a>Reasons</li>
            <li><a href="" class="link_page_item"></a>Tips</li>
        </ul>
    </nav>
    <nav>
        <ul class="link_media">
            <li><a href="" class="link_page_item">Twitter</a></li>
            <li><a href="" class="link_page_item">Instagram</a></li>
            <li><a href="" class="link_page_item">Mastodon.social</a></li>
        </ul>
    </nav>
</footer>