<footer class="footer">
    <nav>
        <ul class="footer_links">
            <li><a href="" class="footer_links--item">Article</a></li>
            <li><a href="" class="footer_links--item">Books</a></li>
            <li><a href="" class="footer_links--item">Events</a></li>
            <li><a href="" class="footer_links--item">Reasons</a></li>
            <li><a href="" class="footer_links--item">Tips</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="footer_links">
            <li><a href="" class="footer_links--item">Twitter</a></li>
            <li><a href="" class="footer_links--item">Instagram</a></li>
            <li><a href="" class="footer_links--item">Mastodon.social</a><li> 
        </nav>
    <section class="footer_copy">
        <p class="footer_copy--item">&copy;2017</p>
        <p class="footer_copy--item">we <i class="fa fa-heart" aria-hidden="true"></i> components</p>
    </section>
</footer>