<div class="footer_scroll">
    <a href="#header" title="scroll" class="footer_scroll--circle"><img src="./assets/images/ico-arrow.svg" alt="scroll" class="footer_scroll--img" title="menu"></a>
</div>
<footer class="footer_background">
    <section class="footer">
        <nav class="container">
            <ul class="footer_links">
                <li><a href="https://adalab.es/" class="footer_links--item" title="article">Article</a></li>
                <li><a href="https://adalab.es/" class="footer_links--item" title="books">Books</a></li>
                <li><a href="https://adalab.es/" class="footer_links--item" title="events">Events</a></li>
                <li><a href="https://adalab.es/" class="footer_links--item" title="reasons">Reasons</a></li>
                <li><a href="https://adalab.es/" class="footer_links--item" title="tips">Tips</a></li>
            </ul>
        </nav>
        <nav class="container">
            <ul class="footer_links">
                <li><a href="https://adalab.es/" class="footer_links--item" title="twitter">Twitter</a></li>
                <li><a href="https://adalab.es/" class="footer_links--item" title="instagram">Instagram</a></li>
                <li><a href="https://adalab.es/" class="footer_links--item" title="mastodon.social">Mastodon.social</a><li>
            </ul>
        </nav>
        <section class="footer_copy container">
            <p class="footer_copy--item">&copy;2017</p>
            <p class="footer_copy--item">we <i class="fa fa-heart" aria-hidden="true"></i> components</p>
        </section>
    </section>
</footer>