
<nav class="nav_menu">
    <a href="https://adalab.es/" title="web-adalab"><img src="./assets/images/ico-menu.svg" alt="menu" class="nav_menu--img" title="menu"></a>
</nav>

<header id="header" class="header">
    <h1 class="header_title">Anonymous proxy</h1>
    <h2 class="header_subtitle">In hac habitasse platea dictumst.</h2>
    <a href="#reasons" title="scroll" class="header_scroll"><img src="./assets/images/ico-scroll-down.svg" alt="scroll" class="header_scroll--img" title="menu"></a>
</header>