<main>

    <section class="description container">
        <p class="description_tips">Insomnia tips</p>
        <h3 class="description_title">Looking through a window</h3>
        <p class="description_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa quo, alias iste facilis repellat veritatis?</p>
        <a href="https://adalab.es/" class="description_button" title="Go">Go</a>
    </section>

    <section id="reasons" class="reasons">
        <h3 class="reasons_title container">3 reasons to purchase</h3>
        <section class="article">
            <article class="article container">
                <h4 class="article--title">Lorem, ipsum dolor.</h4>
                <p class="article--text">Lorem ipsum dolor sit amet consectetur.</p>
            </article>
            <article class="article container">
                <h4 class="article--title">Lorem, ipsum dolor.</h4>
                <p class="article--text">Lorem ipsum dolor sit amet consectetur.</p>
            </article>
            <article class="article container">
                <h4 class="article--title">Lorem, ipsum dolor.</h4>
                <p class="article--text">Lorem ipsum dolor sit amet consectetur.</p>
            </article>
        </section>
        <a href="https://adalab.es/" class="reasons_button">More reasons</a>
    </section>
    
</main>