//fonts
$fontSize: 16px;

//color
$menuBackground: #0271bc;
$titleColor: #ffffff;
$subtitleColor: #000000;
$mainTextColor: #4a4a4a;
$reasonsBackground: #eff9ff;
$footerBackground: #304268;
$mainDetailColor: #f26002;
$secondDetailColor: #8ccbea;
