.footer_scroll {
  width: 100%;
  position: absolute;
  transform: translate(0, -20px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: jump 0.7s ease 1s infinite alternate;
  &--circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $titleColor;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--img {
    width: 20px;
  }
  &:hover {
    animation: none;
  }
}

@keyframes jump {
  0% {
    transform: scale(1.1, 0.9);
  }
  50% {
    transform: scale(0.9, 1.1) translateY(-8px);
  }
  70% {
    transform: scale(1);
  }
}

.footer {
  &_background {
    background-color: $footerBackground;
  }
  text-align: center;
  padding: 60px 0 45px 0;
  @include tablet {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include desktop {
    @include contentCentered(600px);
  }
  &_links {
    padding-bottom: 30px;
    &--item {
      @include mainFont(16px, $titleColor);
      text-transform: uppercase;
      line-height: rem(30px);
    }
  }
  &_copy {
    @include tablet {
      order: -1;
    }
    &--item {
      @include mainFont(14px, $titleColor);
      line-height: 30px;
      .fa {
        color: $mainDetailColor;
      }
      @include tablet {
        font-size: rem(16px);
      }
    }
  }
}

/*html {
  font-size: $fontSize;
}*/
