.footer_scroll {
  width: 100vw;
  position: absolute;
  transform: translate(0, -20px);
  display: flex;
  justify-content: center;
  align-items: center;
  &--circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $titleColor;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--img {
    width: 20px;
  }
}

.footer {
  &_background {
    background-color: $footerBackground;
  }
  text-align: center;
  padding: 60px 0 45px 0;
  @include tablet {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include desktop {
    @include contentCentered(600px);
  }
  &_links {
    padding-bottom: 30px;
    &--item {
      @include mainFont(16px, $titleColor);
      text-transform: uppercase;
      line-height: 30px;
    }
  }
  &_copy {
    @include tablet {
      order: -1;
    }
    &--item {
      @include mainFont(14px, $titleColor);
      line-height: 30px;
      .fa {
        color: $mainDetailColor;
      }
    }
  }
}
