.nav_menu {
  height: 44px;
  width: 44px;
  background-color: $menuBackground;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &--img {
    width: 16px;
    height: 16px;
  }
}

.header {
  background: url("../images/cover.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &_title {
    @include titleFont(42px, $titleColor);
    text-transform: uppercase;
    word-spacing: 100vw;
    text-align: center;
    @include tablet {
      font-size: 80px;
    }
    @include desktop {
      font-size: 100px;
    }
  }
  &_subtitle {
    @include mainFont(16px, $titleColor);
    margin-top: 10px;
    @include tablet {
      font-size: 24px;
    }
  }
  &_scroll {
    margin-top: 45px;
    margin-bottom: 53px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $titleColor;
    display: flex;
    justify-content: center;
    align-items: center;
    &--img {
      width: 20px;
    }
    &:hover {
      transform: scale(1.4);
    }
  }
}
