.container {
  margin: 0 15px;
  @include tablet {
    margin: 0 39px;
  }
  @include desktop {
    margin: 0 85px;
  }
}

.description {
  padding-top: 30px;
  padding-bottom: 45px;
  @include tablet {
    padding-bottom: 60px;
  }
  &_tips {
    @include mainFont(14px, $secondDetailColor);
    line-height: 30px;
  }
  &_title {
    @include titleFont(24px, $subtitleColor);
    line-height: 30px;
    @include tablet {
      @include titleFont(26px, $subtitleColor);
      line-height: 45px;
    }
  }
  &_text {
    @include mainFont(18px, $mainTextColor);
    margin: 15px 0 30px 0;
    @include tablet {
      margin-top: 30px;
    }
  }
  &_button {
    @include mainFont(20px, $mainDetailColor);
    border: 2px solid $mainDetailColor;
    padding: 8px 20px;
    border-radius: 30px;
    @include tablet {
      padding: 8px 30px;
    }
  }
}

.reasons {
  background-color: $reasonsBackground;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  &_title {
    @include titleFont(24px, $subtitleColor);
    margin-bottom: 45px;
  }
  .main-articles {
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
    &_article {
      &--title {
        @include titleFont(18px, $subtitleColor);
      }
      &--text {
        @include mainFont(18px, $subtitleColor);
        margin-bottom: 45px;
        @include tablet {
          margin-bottom: 60px;
        }
      }
    }
  }
  &_button {
    @include mainFont(20px, $titleColor);
    background-color: $mainDetailColor;
    padding: 10px 30px;
    border-radius: 30px;
  }
}
