.container {
  margin: 0 15px;
  @include tablet {
    margin: 0 39px;
  }
}

.description {
  padding-top: 30px;
  padding-bottom: 45px;
  @include tablet {
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 60px;
    @include contentCentered(730px);
  }
  &_tips {
    @include mainFont(14px, $secondDetailColor);
    line-height: 30px;
    @include desktop {
      font-size: 16px;
    }
  }
  &_title {
    @include titleFont(24px, $subtitleColor);
    line-height: 30px;
    @include tablet {
      font-size: 26px;
      line-height: 45px;
    }
    @include desktop {
      font-size: 32px;
    }
  }
  &_text {
    @include mainFont(18px, $mainTextColor);
    margin: 15px 0 30px 0;
    @include tablet {
      margin-top: 30px;
    }
    @include desktop {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &_button {
    @include mainFont(20px, $mainDetailColor);
    border: 2px solid $mainDetailColor;
    padding: 8px 20px;
    border-radius: 30px;
    transition: background-color ease 2s, color ease 2s;
    &:hover {
      background-color: $mainDetailColor;
      color: $titleColor;
    }
    @include tablet {
      padding: 8px 30px;
    }
    @include desktop {
      padding: 8px 60px;
    }
  }
}

.reasons {
  background-color: $reasonsBackground;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  &_title {
    @include titleFont(24px, $subtitleColor);
    margin-bottom: 45px;
    @include tablet {
      font-size: 26px;
    }
    @include desktop {
      font-size: 32px;
    }
  }
  .main-articles {
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
    @include desktop {
      @include contentCentered(1100px);
    }
    &_article {
      &--title {
        @include titleFont(18px, $subtitleColor);
        @include tablet {
          font-size: 24px;
        }
      }
      &--text {
        @include mainFont(18px, $subtitleColor);
        margin-bottom: 45px;
        @include tablet {
          margin-bottom: 60px;
          margin-top: 14px;
          font-size: 20px;
        }
      }
    }
  }
  &_button {
    @include mainFont(20px, $titleColor);
    background-color: $mainDetailColor;
    padding: 10px 30px;
    border-radius: 30px;
    transition: background-color ease 2s, color ease 2s, border ease 2s;
    &:hover {
      background-color: $titleColor;
      color: $mainDetailColor;
      border: $mainDetailColor solid 2px;
    }
    @include tablet {
      padding: 10px 40px;
    }
    @include desktop {
      padding: 10px 60px;
    }
  }
}
